body{
    background-color: #FFFDE7;
    boder: 2px solid #9E9E9E;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

h1{
    color: #D40000;
    background-color: #FFD9E6;
    text-align: center;
}

.p1{
    color: #0033CC;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
}

.p2{
    color:  #D40000;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
}

hr{
    width: 55%;
    margin: 0 auto;
    border: none;
    background-color: #0033CC;
    height: 2px;
}